h1{
  color:yellow;
}

h2{
  color:orange;
}

h3{
  font-size: 3px;
  font-style:italic;
  font-weight: bold;
  color: black;
  }


address{
  color:lightpink;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  border: 2px dotted #0033d2;
  border-top-color: grey;
  border-bottom-color:red;
}


.higtlight2 {
  background-color: lightgreen;
}
